body {
    padding: 0;
    text-align: center;
}

#game-intro {
    padding: 20px 0px;
    width: 100vw;
}

#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
}

#game-screen {
    display: none;
    align-content: start;
    width: 900px;
    height: 600px;
    padding: 10px 0px;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    background-image: url(../images/Free-City-Backgrounds-Pixel-Art7_new.png);
    background-size: cover;
    animation: slide 5s linear infinite;
}

#cat {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: gray;
}

.item {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: slide 3s linear infinite;
}

.party {
    background-color: green;
}

.irrelevant {
    background-color: red;
}

#score,
#punishment {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*@keyframes slide {
    0% {
        background-position: 0 -1000px;
    }

    95% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
}*/

@keyframes slide {
    0% {
        background-position: 600px 0;
    }

    95% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

#game-end {
    display: none;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.cat-img {
    width: 80px;
    margin-top: 0px;
    padding: 0px;
    justify-content: start;
    left: 0px;

}

.arrows-img {
    width: 150px;
}

body button {
    font-size: 30px;
    background-color: #aa368d;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}