body {
    padding: 0;
    text-align: center;
}

#game-intro {
    padding: 20px 0px;
    width: 100vw;
}

#game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
}

#game-screen {
    display: flex;
    align-content: start;
    width: 900px;
    height: 600px;
    padding: 10px 0px;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    background-image: url(../images/Free-City-Backgrounds-Pixel-Art7_new2.png);
    background-size: cover;
    animation: slide 3s infinite linear;
    border: 1px solid black;
    /* animation: 10s infinite alternate slidein; */
}

#cat {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(../images/kity_cat.png);
}

.item.party,
.item.obstacle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: slide 6s forwards alternate;
    /* animation: 10s infinite alternate slidein; */
}

.party {
    background-color: rgb(58, 128, 0);
    animation: slide 3s linear infinite;
}

.obstacle {
    background-color: rgb(8, 8, 8);
    animation: slide 3s linear infinite;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
}

#live {
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
    justify-content: center;
}

/*@keyframes slide {
    0% {
        background-position: 0 -1000px;
    }

    95% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
}*/

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slide {
    0% {
        background-position: 600px 0;
    }

    100% {
        background-position: 10px 0;
    }
}


#game-end {
    display: none;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.cat-img {
    width: 80px;
    margin-top: 0px;
    padding: 0px;
    justify-content: start;
    left: 0px;

}

.arrows-img {
    width: 150px;
}

body button {
    font-size: 30px;
    background-color: #aa368d;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}